@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap');

body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    background-color: #000000;
}

.contact-body,
.java-body {
    background-color: #2e4052;
}

.top-nav {
    width: 100%;
    height: 70px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 1;
    color: #786d01;
    border-bottom: 1px solid #786d01;
}

.top-nav ul {
    list-style: none;
    width: auto;
}

.top-nav ul li {
    display: inline-block;
}

.top-nav ul li div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 70px;
    width: 100px;
}

.top-nav ul li div:hover {
    color: #bcaa01;
    cursor: pointer;
}

#header-logo {
    margin-left: 340px
}

.theme-header {
    padding-top:70px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #262626;
    color: #786d01;
    border-bottom: 1px solid #786d01;
}

.theme-header ul {
    list-style: none;
    width: auto;
}

.theme-header ul li {
    display: inline-block;
}

.theme-header ul li div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
}

.theme-header ul li div:hover {
    cursor: pointer;
    color: #bcaa01;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 130px;
    height: 600px;
    border-radius: 10px 0 0 10px;
    background-color: #262626;
    position: fixed;
    right: 0;
    top: 150px;
    border: 1px solid #786d01;
}

.sidebar ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;

}

.sidebar a {
    text-decoration: none;
    color: #786d01;
}

.sidebar a:hover {
    color: #bcaa01;
}

.row-content {
    width: 100%;
    height: auto;
    padding: 25px 0 25px 0;
    background-color: #2e4052;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-content section:first-of-type {
    border-radius: 10px;
    margin-right: 50px;
}

.row-content-alternate section:first-of-type {
    border-radius: 10px;
}

.row-content-alternate section:last-of-type {
    margin-right: 50px;
}

.row-content section:last-of-type,
.row-content-alternate section:last-of-type {
    height: 200px;
    width: 400px;
    background-color: yellow;
}

.row-content-alternate {
    width: 100%;
    height: auto;
    padding: 25px 0 25px 0;
    background-color: #2e4052;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    background-color: #000000;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    text-decoration-color: #786d01;
}

.copyright {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
    font-size: 10px;
    padding-bottom: 20px;
}

.copyright img {
    margin-left: 10px;
}

.footer-flex-container {
    width: 100%;
    height: 150px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-flex-container article {
    width: 60%;
    display: flex;
    justify-content: center;
    height: 140px;
    border-bottom: 1px solid #786d01;
}

.footer-flex-container article ul {
    list-style: none;
    margin-top: 15px;
    height: auto;
    padding-bottom: 20px;
}

.footer-flex-container article ul li {
    padding-top: 8px;
    padding-bottom: 2px;
}

.footer-headings {
    text-align: center;
    border-bottom: 1px solid #786d01;
    padding-bottom: 2px;
}

footer article h3 {
    color: #ffffff;
    font-weight: 400;
}

footer article h3 span{
    font-weight: 700;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 93vh;
}

section input:last-of-type {
    border: 1px solid #786d01;
    border-radius: 10px;
    background-color: #262626;
    padding: 10px 20px 10px 20px;
    color: #786d01;
}

section input:last-of-type:hover {
    cursor: pointer;
}

form {
    width: 500px;
    height: auto;
    color: #786d01;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #786d01;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #262626;
    color: #ffffff;
}

#showSection{
    display: none;
}
