@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    background-color: #000000;
}

.contact-body,
.java-body {
    background-color: #2e4052;
}

.top-nav {
    width: 100%;
    height: 70px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 1;
    color: #786d01;
    border-bottom: 1px solid #786d01;
}

.top-nav ul {
    list-style: none;
    width: auto;
}

.top-nav ul li {
    display: inline-block;
}

.top-nav ul li a {
    text-decoration: none;
}

.top-nav ul li a div {
    color: #786d01;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 70px;
    width: 100px;
}

.top-nav ul li a div:hover {
    color: #bcaa01;
    cursor: pointer;
}

#header-logo {
    margin-left: 340px
}

.theme-header {
    padding-top: 70px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #262626;
    color: #786d01;
    border-bottom: 1px solid #786d01;
}

.theme-header ul {
    list-style: none;
    width: auto;
}

.theme-header ul li {
    display: inline-block;
}

.theme-header ul li div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
}

.theme-header ul li div:hover {
    cursor: pointer;
    color: #bcaa01;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 130px;
    height: 600px;
    border-radius: 10px 0 0 10px;
    background-color: #262626;
    position: fixed;
    right: 0;
    top: 150px;
    border: 1px solid #786d01;
}

.sidebar ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;

}

.sidebar a {
    text-decoration: none;
    color: #786d01;
}

.sidebar a:hover {
    color: #bcaa01;
}

.row-content {
    width: 100%;
    height: 600px;
    padding: 25px 0 25px 0;
    background-color: #bcaa01;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../assets/volcanicWaterBottle.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.row-content section p {
    width: 60%;
    height: auto;
    line-height: 50px;
    font-size: 30px;
    margin-left: 30%;
}

.row-content-alternate section p {
    width: 40%;
    height: auto;
    line-height: 50px;
    font-size: 30px;
    margin-left: 35%;
    color: #bcaa01;
}

.row-content-alternate {
    width: 100%;
    height: 600px;
    padding: 25px 0 25px 0;
    background-color: #2e4052;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../assets/volcanicWaterBottleSphlash.png);
    background-position: 65%;
    background-repeat: no-repeat;
    background-size: 47%;
}

footer {
    width: 100%;
    background-color: #000000;
}

.footerJava {
    width: 100%;
    background-color: #000000;
    position: fixed;
    bottom:0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    text-decoration-color: #786d01;
}

.copyright {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
    font-size: 10px;
    padding-bottom: 20px;
}

.copyright img {
    margin-left: 10px;
}

.footer-flex-container {
    width: 100%;
    height: 150px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-flex-container article {
    width: 60%;
    display: flex;
    justify-content: center;
    height: 140px;
    border-bottom: 1px solid #786d01;
}

.footer-flex-container article ul {
    list-style: none;
    margin-top: 15px;
    height: auto;
    padding-bottom: 20px;
}

.footer-flex-container article ul li {
    padding-top: 8px;
    padding-bottom: 2px;
}

.footer-headings {
    text-align: center;
    border-bottom: 1px solid #786d01;
    padding-bottom: 2px;
}

footer article h3 {
    color: #ffffff;
    font-weight: 400;
}

footer article h3 span {
    font-weight: 700;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 93vh;
}

section input:last-of-type {
    border: 1px solid #786d01;
    border-radius: 10px;
    background-color: #262626;
    padding: 10px 20px 10px 20px;
    color: #786d01;
}

section input:last-of-type:hover {
    cursor: pointer;
}

form {
    width: 500px;
    height: auto;
    color: #786d01;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #786d01;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #262626;
    color: #ffffff;
}

#showSection {
    display: none;
}

.sidebar-button {
    position: fixed;
    right: 0;
    top: 150px;
    width: 100px;
    height: 80px;
    border-radius: 10px 0 0 10px;
    background-color: #262626;
    border: 1px solid #bcaa01;
}

.sidebar div {
    display: flex;
    margin-top: 14px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    background-color: #262626;
}

.sidebar div div {
    height: 10px;
    width: 70%;
    background-color: #2e4052;
    border-radius: 10px;
    margin: 4px 0;
}

.vertAnimation {
    animation-iteration-count: 1;
    animation-name: heightExpand;
    animation-duration: 1s;
}

@keyframes heightExpand {
    0% {
        height: 80px;
    }

    100% {
        height: 600px;
    }
}

.vertAnimationReverse {
    animation-iteration-count: 1;
    animation-name: heightExpandReverse;
    animation-duration: 1s;
}

@keyframes heightExpandReverse {
    0% {
        height: 600px;
    }

    100% {
        height: 80px;
    }
}

.lineGrow {
    margin-top:5px;
    width: 100%;
    height: 1px;
    background-color: #bcaa01;
    animation-name: grow;
    animation-duration: 2s;
}

@keyframes grow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    color: #bcaa01;
    font-size: 22px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.javaPageRow {
    padding-top:100px;
    width: 100%;
    background-color:darkcyan;
    height: 30%;
}