.top-nav {
    width: 100%;
    height: 70px;
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.top-nav ul {
    list-style: none;
    width: auto;
}

.top-nav ul li {
    display: inline-block;
}

.top-nav ul li div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 70px;
    width: 100px;
}

.top-nav ul li div:hover {
    background-color: aquamarine;
    cursor:pointer;
}

.theme-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #e1e1e1;
}

.theme-header ul {
    list-style: none;
    width: auto;
}

.theme-header ul li {
    display: inline-block;
}

.theme-header ul li div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
}

.theme-header ul li div:hover {
    cursor: pointer;
    background-color: aqua;
}